@{
	Layout = null;
	var seriesTitle = "The Amazing Spider-Man";
	var issuenUMBER = 700;
	var description = "woo"
	var artists = new string[]
	{
		"Script: Dan Slott"
	}
};

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<div>
		<h1>@seriesTitle</h1>
		<h2>Issue #@issueNumber</h2>

		<h5>Description:</h5>
		<div>@html.Raw(description)</div>
		
		@if ()
		{
		<h5>Artists:</h5>
		<div>
			<ul>
				@foreach (var artist in artists)
				{
				<li>@artist</li>
				}
			</ul>
		</div>
		}
	</div>
</body>
</html>